name = "markdowntopdf-renderer"
main = "src/worker.ts"
compatibility_date = "2025-11-15"
compatibility_flags = ["nodejs_compat"]

[browser]
binding = "BROWSER"

# LOGS
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1